@font-face {
    font-family: "묘야체";
    src: url("./묘야체.ttf") format(truetype);
}



body{
    font-family: "묘야체";
    background: white;
}

input{
    font-family: "묘야체";
}
input:focus{
    outline: none;
    border-color: rgb(80, 148, 221);
    box-shadow: 0 0 10px rgba(135, 206, 235, 0.5);
}

textarea{
    font-family: "묘야체";
}
textarea:focus{
    outline: none;
    border-color: rgb(80, 148, 221);
    box-shadow: 0 0 10px rgba(127, 184, 237, 0.5);
}


textarea[name="계획 입력"]{
    font-size: 5vh;
    width: 31%;
    height: 10%;
    top: 31%;
    left: 22%;
    position: absolute;
    border-radius: 15px;
    border-color: skyblue;
    border-width: 3.5px;
    resize: none;
}
textarea[name="계획 입력"]::-webkit-scrollbar{
    display: none;
}


input[name="목표 입력"]{
    font-size: large;
    width: 150px;
    top: 50%;
    position: absolute;
    border-width: 3px;
}





#goalText{
    font-size: 10vh;
    font-weight: bold;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

percentageText{
    font-size: 5vh;
    font-weight: bold;
    top: 22%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}



.setGoal{
    width: 5%;
    height: 5%;
    top: 40%;
    position: absolute;
    background-color: yellow;
}



.gaugebar {
    width: 55%;
    height: 5%;
    top: 22%;
    left: 50%;
    background-color: rgb(135, 206, 235);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.frame{
    width: 60%;
    height: 70%;
    right: 50%;
    bottom: 0px;
    position: absolute;
    transform: translateX(50%);
    background-color: none;
    border: 5px solid;
    border-bottom: none;
    border-top-right-radius: 40px;
    border-top-left-radius: 8%;
}

.textFrame{
    width: 60%;
    height: 0%;
    right: 50%;
    top: 43%;
    transform: translateX(50%);
    position: absolute;
    background-color: none;
    border: 2.5px solid;
}

.add{
    width: 10%;
    height: 5%;
    left: 55%;
    top: 30.5%;
    position:absolute;
    background-color: yellowgreen;
    border: 3px solid green;
    border-radius: 15px;
    font-size: 4vh;
    text-align: center;
}

.subtract{
    width: 10%;
    height: 5%;
    left: 55%;
    top: 36.7%;
    position:absolute;
    background-color: pink;
    border: 3px solid red;
    border-radius: 15px;
    font-size: 4vh;
    text-align: center;
}


